* {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	text-indent: 1px;
}

.container {
	display: flex; 
	flex-direction: column;
	align-items: center; 
	padding-top: 50px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

.app{
	width: 60%;
}

@media (max-width:768px){
	.app {
		width: 90%
	}
}